/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 0.925rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d !important;
  text-align: left;
  background-color: #f7f8f9;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
.page-content {
  padding: 100px 0 50px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #0d233e;
}
.main-title h2 {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 12px;
}
li::marker {
  color: #cacbcd;
}
.table {
  thead {
    tr {
      th {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
  &.table-bordered {
    tr {
      border-color: #dee2e6;
    }
  }
}
.btn-sm {
  font-size: 13px;
  padding: 4px 4px;
}
.card {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #edeff1;
  position: relative;
  margin-bottom: 15px;
  .card-body {
    font-size: 14px;
    ul {
      margin-top: 15px;
      li {
        &:not(:last-child) {
          padding-bottom: 8px;
        }
        &.correct-ans {
          color: #0aa15b;
          font-weight: 600;
        }
      }
    }
    h6 {
      font-size: 14px;
    }
    .date-div {
      position: absolute;
      bottom: 0;
      right: 10px;
      color: #6c727c;
    }
    .option-box {
      padding: 10px;
      background-color: #eaeced;
      border-radius: 5px;
    }
    .btn-sm {
      padding: 4px 12px;
    }
  }
  &.empty-data-card {
    border: 2px solid #fab005;
    background-color: rgba(250, 176, 5, 5%);
    padding: 20px 30px;
    .card-body {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;
      span {
        font-size: 30px;
        display: flex;
      }
      h5 {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }
}

.alert-body {
  img {
    max-width: 60px;
  }
}

